[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-jsdoc"]
	path = .vim/bundle/vim-jsdoc
	url = https://github.com/heavenshell/vim-jsdoc.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/vim-es6"]
	path = .vim/bundle/vim-es6
	url = https://github.com/isRuslan/vim-es6.git
